@model Philanski.Frontend.MVC.Models.Employees

@{
    ViewData["Title"] = "Index";
}

<h2>EmployeeDetails</h2>

<div>
    <h4>Your information.</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.JobTitle)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.JobTitle)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorksiteId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorksiteId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HireDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HireDate)
        </dd>

        @if (Model.TerminationDate != null)
         {
            <dt>
                @Html.DisplayNameFor(model => model.TerminationDate)
            </dt>
                <dd>
                    @Html.DisplayFor(model => model.TerminationDate)
                </dd>

         }

        </dl>
</div>
<div>
  
</div>
