@model List<Philanski.Frontend.MVC.Models.TimeSheets>

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>TimeSheets</h4>

<div>
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        <div>Day</div>
                    </th>
                    <th>
                        <div>Date</div>
                    </th>
                    <th></th>
                    <th>
                        <div>Hours</div>
                    </th>
                    @for (int i = 0; i < 7; i++)
                    {
                    <tr>
                        <th>@Model[i].Date.DayOfWeek</th>
                        <th>
                            <div>@Model[i].Date.Month/@Model[i].Date.Day </div>
                        </th>
                        <th></th>
                        <th>
                            <div class="form-group">
                                <input asp-for="@Model[i].RegularHours" class="form-control" />
                                <input asp-for="@Model[i].Date" type="hidden" value="@Model[i].Date" class="form-control" />
                                <input asp-for="@Model[i].Id" type="hidden" value="@Model[i].Id" class="form-control" />

                            </div>
                        </th>
                    </tr>
                }
                </thead>
            </table>
            <div class="form-group">
                <input type="submit" name="submit" id="Save" value="Save" class="btn btn-default" />
                <input type="submit" name="submit" id="Submit" value="Submit" class="btn btn-default" />
            </div>
        </form>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

